$white: #ffffff;
$black: #000000;
$base-bg-color: #f6f7f8;

$green: #16a249;
$mars-green: #59c0c0;
$mars-green-dark: #0d9488;
$mars-green-dark-2: #46b9b9;
$mars-green-dark-3: #59c0c033;
$mars-green-light: #f0fdfa;
$mars-green-light-2: #87c5c5;

$gray: #ffffff33;
$gray-light: #64748b;
$gray-light-2: #f4f4f5;
$gray-light-3: #f0f4f5;
$gray-light-4: #ffffffcc;
$gray-light-5: #f0f4f580;
$gray-light-6: #f8fafc;
$gray-light-7: #59c0c01a;
$gray-dark: #fafafa;
$gray-full-dark: #18181b;
$gray-full-dark-2: #3F3F46;
$gray-full-dark-3: #1f2933;
$gray-full-dark-4: #1f2933cc;
$border-gray: #e5e7eb;

$black-transparent: #000000cc;


$color--accent-danger: #f23030;