@mixin line-clamp($num-lines, $line-height) {
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: $num-lines;
  max-height: $num-lines * $line-height;

  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
}
