$space-none: 0px;
$space-3xs: 2px;
$space-2xs: 4px;
$space-1xs: 6px;
$space-xs: 8px;
$space-s: 12px;
$space-m: 16px;
$space-ml: 20px;
$space-xl: 24px;
$space-2xl: 32px;
$space-3xl: 40px;
$space-4xl: 48px;
$space-5xl: 56px;
$space-6xl: 64px;
$space-7xl: 80px;